.table {
  table-layout: fixed;
  width: 100%;
  @media (max-width: 1024px) {
    overflow-y: scroll;
    max-height: 100vh;
  }
  .table-rating {
    display: flex;
    justify-content: space-evenly;
    line-height: 18px;


  .adc357e4f1 {
    fill: #febb02;
    height: 14px;
  }
  .b6dc9a9e69 svg {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}}
.tableCell_title, .tableCell_location {
  font-weight: 700;
}
.tableCell_hotelTitle {
  font-weight: 500;
  color: gray;
  text-align: left;


}


  .cellWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 192px;
    min-height: 150px;
    height: auto;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-size: 16px;
    gap: 16px;

    .image {
      width: 90%;
      height: 90%;
      border-radius: 2px;
      object-fit: cover;

    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}

